$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;

$font-size-sm: 0.9em;

$btn-margin: 0.3em;

$navbar-height: 2.5em;

$primary-color: #7b1fa2;
$primary-color-light: #ae52f4;
$primary-color-dark: #4a0072;

$btn-color-default: #ddd;
$btn-color-default-text: #444;
$btn-color-default-hover: darken($btn-color-default, 5%);
$btn-color-default-disabled: lighten($btn-color-default, 5%);
$btn-color-default-disabled-text: lighten($btn-color-default-text, 30%);

$link-color: blue;

$light-grey: #ccc;

$muted-color: #777;
$muted-color-dark: darken($muted-color, 0%);
$muted-color-light: lighten($muted-color, 5%);
$muted-color-lighter: lighten($muted-color, 12%);
$muted-color-text: darken($muted-color, 40%);

