@import "_variables";

* {
  font-family: 'Source Sans Pro', sans-serif;
}

#root-container {
  @media(max-width: $container-width-sm) {
    width: 95%;

  }

  @media(min-width: $container-width-sm + 1) and (max-width: $container-width-md) {
    width: $container-width-sm;
  }

  @media(min-width: $container-width-md + 1) and (max-width: $container-width-lg) {
    width: $container-width-md;
  }

  @media(min-width: $container-width-lg + 1) and (max-width: $container-width-xl) {
    width: $container-width-lg;
  }

  @media(min-width: $container-width-xl) {
    width: $container-width-xl;
  }

  width: 100%; // Fallback
  margin: 0 auto 1em auto;

  main {
    padding-bottom: 2em;
    margin-bottom: 1em;
    border-bottom: 1px dashed $muted-color;
  }
}

.btn {
  &:enabled {
    cursor: pointer;
  }
}

@mixin btn-coloring(
  $text-color,
  $bg-color,
  $bg-hover-color,
  $disabled-text-color,
  $bg-disabled-color) {

  &:enabled {
    color: $text-color;
    background-color: $bg-color;

    &:hover {
      background-color: $bg-hover-color;
    }
  }

  &:disabled {
    background-color: $bg-disabled-color;
    color: $disabled-text-color;
  }
}

.btn-default {
  @extend .btn;

  padding: 1em;
  margin: $btn-margin;
  border: none;
  width: auto;

  transition: background-color 100ms ease-out;

  @include btn-coloring(
                  $btn-color-default-text,
                  $btn-color-default,
                  $btn-color-default-hover,
                  $btn-color-default-disabled-text,
                  $btn-color-default-disabled);
}

.btn-primary {
  @extend .btn-default;

  @include btn-coloring(
                  white,
                  $primary-color,
                  $primary-color-dark,
                  $primary-color-light,
                  $primary-color-light);
}

.btn-link {
  @extend .btn;

  border: none;
  background-color: transparent;
  color: $link-color;

  &:hover { text-decoration: underline; }
}

.btn-bar {
  margin: -$btn-margin;
  margin-top: $btn-margin;
  margin-bottom: $btn-margin;
}

.input-bar {
  > * {
    width: auto;
    display: inline;
  }
}

.missing-banner {
  padding: 1em;
  color: grey;
  border: 2px dashed grey;
  text-align: center;
  font-style: italic;
}

.error-banner {
  padding: 1em;
  color: white;
  background-color: darkred;
  font-weight: bold;
  margin: 1em 0;
}

.loading-bar {
  height: 0.2em;

  &.enabled {
    @keyframes loading {
      0% { background-color: $primary-color; }
      50% { background-color: transparent; }
      100% { background-color: $primary-color; }
    }
    animation: loading 3s infinite;
  }
}
