@import "_variables";

#submit-job {
  #spec-description {
    @extend .selection-description;
    margin-bottom: 1.5em;
  }

  .selection-description {
    color: $muted-color;
    margin: 0.7em 0 0 0;
    padding: 0 0.5em;
    font-size: $font-size-sm;
  }

  .expected-input {
    padding: 0.5em 0;
  }

  #submit-btn {
    @extend .btn-primary;

    display: block;
    margin: 2em auto 0.2em auto;
  }

  #download-btn {
    @extend .btn-link;
    display: block;
    text-align: center;
    margin: auto;
    color: $muted-color;
    font-size: $font-size-sm;
  }

  .input-description {
    color: $muted-color;
    margin: 0.1em 0 0.4em 0;
  }

  .multivalue-input {
    .btn-default {
      padding: 0.7em;
    }
  }

  .sql-input {
    .table-wrapper {
      max-height: 30em;
      overflow: auto;
    }

    .table-filters {
      margin-left: -0.2em;
      > * {
        display: inline-block;
        width: auto;
        font-size: $font-size-sm;
        margin: 0 0.2em 0.5em 0.2em;
        padding: 0.4em;
        min-height: 2em;
        vertical-align: middle;
      }
    }

    .filter-selector {
      width: 50%;
      display: inline;
    }

    .multivalue-input {
      .btn-bar {
        margin-top: 0;
      }

      .btn-default {
        padding: 0.2em;
        font-size: $font-size-sm;
        border-radius: 3px;
      }
    }
  }
}
